$white: white;
$primary-dark: #0e2235;
$gray-scale-0: #ffffff;
$gray-scale-2: #f9f9f9;
$gray-scale-3: #e6e6e6;
$gray-scale-4: #cccccc;
$gray-scale-5: #b3b3b3;
$gray-scale-6: #666666;
$gray-scale-7: #4d4d4d;
$gray-scale-8: #1a1a1a;
$gray-border: #d9d9d9;

$link: #224477;

$primary: #621708;
$secondary: #be6845;
$mid: #d8910d;
