@import "./styles/_mixins";
@import "./styles/_colors";
@import "./styles/_partials";

.app {
    height: 100vh;
    background-color: $gray-scale-2;
};

.link {
    color: $link;
    &:hover {
        color: $link;
    }
}